/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #ffcbcb;
  --secondry-color: #407088;
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --default-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.element {
  overflow-x: hidden;
}
body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: var(--paragraph-font);
  font-size: 44px;
  font-weight: bold;
}
h3 {
  font-family: var(--paragraph-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  opacity: 0.7;
}
img {
  padding: 15px 20px;
  background-color: var(--primary-color);
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142b2;
}
footer .contact-box {
  background-color: #ffcbcb;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box h3 {
  font-size: 40px;
}
.content-container {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 10px;
}
.content {
  margin: 30px;
}
.content-container .content h1 {
  font-size: 40px;
  line-height: 80px;
}
.primary-link {
  background-color: var(--secondry-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.secondry-link {
  background-color: white;
  color: var(--secondry-color);
  border-radius: 4px;

  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondry-color);
  font-size: 28px;
  text-decoration: none;
}
.logo {
  padding: 0;
  background-color: white;
  max-height: 40px;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
.social-links a {
  padding: 10px 14px;
  background-color: var(--primary-color);
  color: var(--secondry-color);
  margin-right: 20px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  background-color: var(--secondry-color);
  color: var(--primary-color);
}
.content h1 {
  font-size: 64px;
}
.content h2 {
  font-size: 45px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .project-description {
    text-align: center;
  }
  .content {
    text-align: center;
  }
  .content-container {
    padding: 80px 20px;
  }
  nav li {
    font-size: 15px;
  }
}
