/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #ffcbcb;
  --secondry-color: #407088;
  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --default-font: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: var(--paragraph-font);
  font-size: 44px;
  font-weight: bold;
}
h3 {
  font-family: var(--paragraph-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  opacity: 0.7;
}
img {
  padding: 15px 20px;
  background-color: var(--primary-color);
}
.biography {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.primary-link {
  background-color: var(--secondry-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondry-color);
  font-size: 28px;
  text-decoration: none;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
  }

  .biography {
    padding: 80px 20px;
  }
}
